body{
    background-color: palevioletred;
    margin: 20px 20px;
}
.divSec{
    border: 1px solid white;
    margin: 20px 20px;
}
.sectionSec{
    border: 1px solid white;
    margin: 20px 20px;
}
.pSec{
    border: 1px solid white;
    margin: 20px 20px;
}